<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shivani Sogal About Me</title>
</head>
<body>

<!-- Code for header -->

   <h1>Shivani Sogal</h1>

    <img src="https://terpconnect.umd.edu/~jbono/bmgt408c/images/quest-logo.png" width="221" height="92" alt="QUEST logo">

    <h2>About Me Page</h2>

    <h2>Created using PyCharm and HTML!</h2>

<!-- Code for body text -->

   <p>Some fun facts about me are that I can juggle, speak another language <strong> (Kannada) </strong> and solve the Rubik's cube.
        I learned how to juggle in middle school where we got graded on it in a drama class for an art elective.</p>

    <p>I was born and raised in Maryland but my family is from South India, which is why I can speak Kannada.
        My extended family still lives there so we visit almost every other year. </p>

<p><em>My favorite colors are:</em></p>
    <ol>
        <li>Pink</li>
        <li>Blue</li>
        <li>Purple</li>
    </ol>

<p><em>My least favorite colors are:</em></p>
    <ul>
        <li>Yellow</li>
        <li>Green</li>
        <li>Brown</li>
    </ul>

    <table>
        <tr>
        <th>Course</th>
        <th>When I took them</th>
        </tr>

        <tr>
        <td>BMGT408c</td>
        <td>Fall 2025</td>
        </tr>

         <tr>
        <td>CHEM241</td>
        <td>Fall 2025</td>
        </tr>

         <tr>
        <td>BSCI170</td>
        <td>Spring 2024</td>
        </tr>
    </table>

<!-- Code for links -->

   <p> This is a link to the hello.html page: <a href="/hello">Hello HTML page</a> </p>

    <p> This is a link to google: <a href="https://google.com">Google link</a> </p>

     <p> This is a link to google calendar: <a href="https://calendar.google.com" target="_blank">Google calendar link</a> </p>

</body>
</html>