<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demonstrating Hello World!</title>

    <link rel="stylesheet" href="/static/css/greetings-style.css">

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <!-- Bootstrap explanation -->
    <div class="section">
        <p>The Bootstrap component I used changed the formatting of the 3 buttons I have on this page. This makes
            them blue, green, and yellow, which makes the website more visually appealing.</p>
    </div>

    <!-- Changing text by clicking button -->
    <div class="section">
        <p id="originalParagraph">Click the button to change the text!</p>
        <button id="changeParagraphButton" class="btn btn-primary">Change Text</button>
    </div>

    <!-- Alert with "Hello, (NAME)!" -->
    <div class="section">
        <form id="helloForm">
            <input type="text" id="nameInput" placeholder="Type in your name" class="form-control mb-2">
            <button type="button" onclick="helloName()" class="btn btn-success">Click here!</button>
        </form>
    </div>

    <!-- Class checklist alert -->
   <div>
    <p><strong>Which classes have you taken?</strong></p>
         <label><input type="checkbox" name="class" value="BMGT408C"> BMGT408C</label><br>
         <label><input type="checkbox" name="class" value="BMGT290H"> BMGT290H</label><br>
         <label><input type="checkbox" name="class" value="BMGT390H"> BMGT390H</label><br>
         <label><input type="checkbox" name="class" value="BMGT490H"> BMGT490H</label><br>

        <button type="button" id="submitCourses" class="btn btn-warning">Submit</button>
    </div>

    <!-- Adding space above my favorite foods-->
    <div class="section">
    </div>

    <script src="/static/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
