<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demonstrating Hello World!</title>
    <link rel="stylesheet" href="/static/css/greetings-style.css">
</head>
<button>

    <p id="originalParagraph"> This is my first paragraph for the JavaScript part of this website.</p>

    <button id="changeParagraphButton"> Change Text </button>

    <form id="helloForm">
        <input type="text" id="nameInput" placeholder="Your name">
        <button onclick="helloName()">Click here!</button>
  </form>

    <p>Which classes are you taking?</p>
    <input type="checkboxes" name="class" value="BMGT408c">BMGT408c
    <input type="checkboxes" name="class" value="BMGT290H">BMGT290H
    <input type="checkboxes" name="class" value="BMGT390H">BMGT390H
    <div style="padding-top"; 10px;"><button onclick="chooseClasses()"Submit</button></div>





    <script src="/static/main.js"></script>

</body>
</html>